<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>Blog Simple</h1>
        </a>
        <p>A Blog Website for Blog Lovers</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
    </div>
  </body>
</html>
