<%- include('./partials/head.ejs')  %> 
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non error
        vitae dignissimos. Eius fugit culpa obcaecati tempore, vitae dolorum in
        iste doloribus laborum odio quae? Dolor, explicabo? Velit, aliquam ut.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs')  %> 
</html>
